# MongoDB Connection String
# Получите строку подключения из MongoDB Atlas или вашего MongoDB провайдера
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/database-name?retryWrites=true&w=majority

# Optional: Ping message
PING_MESSAGE=ping
